.profileContainer {
    background:var(--main-background);
    color:var(--main-text-color);
    display:flex;
    align-items:center;
    padding:8px;
}
.separator {
    margin:0 8px;
}
.avatar {
    width:60px;
    height:53px;
    border-radius:50%;
    margin-left:auto;
}