.detailsContainer {
    display:grid;
    grid-template:auto auto/ 200px 200px;
    justify-content:center;
    width:100%;
    margin-top:24px;
}
.detailContainer {
    display:flex;
    align-items:center;
    padding:8px;
    font-size:1.5rem;
}
.description {
    font-size:1.2rem;
}
.img {
    width:30px;
    height:30px;
    margin-right:8px;;
}
.card {
    margin:8px;
    display:flex;
    justify-content:center;
    align-items:center;
}