.checkbox {
    height:25px;
    width:25px;
}
.description {
    color:var(--main-text-color);
    margin:0 0 5px 5px;
    @media (min-width:600px) {
        font-size:1.5rem;
    }
}
.card {
    display:flex;
    align-items: center;
    background:var(--main-background);
    margin:15px 0;
    border-radius:5px;
    padding:15px;
}
.card .deleteBtn {
    margin-left:auto;
}
.description.completed {
    color:grey;
    text-decoration: line-through;
}