.checkbox {
    height:25px;
    width:25px;
}
.description {
    margin:0 0 5px 5px;
    @media (min-width:600px) {
        font-size:1.5rem;
    }
}
.card {
    display:flex;
    align-items: center;
    background:var(--secondary-background);
    margin:15px 0;
    padding:15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.card .deleteBtn {
    margin-left:auto;
}
.description.completed {
    color:grey;
    text-decoration: line-through;
}