.addTaskContainer {
    display:flex;
    align-items: stretch;
    margin-top:8px;
}
.input {
    width:250px;
    padding:8px;
}
.addButton {
    background:#333;
    color:white;
    width:35px;
    margin-left:4px;
}