:root {
    --main-background: #21222c;
    --secondary-background: #c9c9c9;
    --main-text-color: #fafafa;
}
html,body,#root {
    height: 100%;
}
body {
    background: ghostwhite;
}
.header-1 {
    font-size:1.5rem;
}
.header-2 {
    font-size:2rem;
}
a {
    text-decoration:none;
}
