.container {
    display:flex;
    flex-flow:column;
    align-items:center;
    position:relative;
    
    .temperature {
        font-size:5rem;
    }
}
.imgContainer {
    width:320px;
    height:320px;
}

